---
import { Image } from "astro:assets";
import placeholderImage from "../assets/placeholder-image.png";

interface Props {
  title: string;
  image: { location: ImageMetadata; alt: string };
  description: string;
  tags?: string[];
}

const { title, description, tags, image } = Astro.props;
---

<div class="flex flex-row space-x-6">
  <Image src={image.location} alt={image.alt} class="w-50" />
  <div class="flex flex-col justify-center">
    <h3 class="text-xl text-secondary">{title}</h3>
    <p class="text-muted">{description}</p>

    {
      tags && (
        <ul class="flex flex-row space-x-2 mt-2">
          {tags.map((tag) => {
            return (
              <li class="text-xs p-2 rounded-2xl bg-radial from-violet-300/60 to-pink-300/60 text-secondary">
                {tag}
              </li>
            );
          })}
        </ul>
      )
    }
  </div>
</div>
