---
import { Image } from "astro:assets";
import ExternalLink from "../assets/external-link.svg";

interface Props {
  title: string;
  link?: string;
  image: { location: ImageMetadata; alt: string };
  description: string;
  tags?: string[];
}

const { title, link, description, tags, image } = Astro.props;
---

<a href={link} target="_blank" class="relative group">
  <div
    class="transition-colors absolute -inset-x-4 -inset-y-4 w-full z-0 rounded-lg group-hover:bg-violet-300/40 group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
  >
  </div>
  <div
    class="relative flex flex-col lg:flex-row space-y-4 lg:space-y-0 space-x-6 z-1 max-w-[95%]"
  >
    <Image
      src={image.location}
      alt={image.alt}
      class="w-50 max-h-30 rounded-lg"
    />
    <div class="flex flex-col justify-center space-y-1">
      <div class="flex text-secondary items-center space-x-1">
        <h3 class="text-xl">{title}</h3>
        {link && <ExternalLink width={15} height={15} />}
      </div>
      <p class="text-muted">{description}</p>

      {
        tags && (
          <ul class="flex flex-row flex-wrap space-x-2 space-y-2 sm-space-y-0 mt-2">
            {tags.map((tag) => {
              return (
                <li class="text-xs p-2 h-fit w-fit rounded-2xl bg-radial from-violet-300/60 to-pink-300/60 text-secondary">
                  {tag}
                </li>
              );
            })}
          </ul>
        )
      }
    </div>
  </div>
</a>
